* {
    font-family: 'Heebo', sans-serif;
}

header {
    background: url(../img/Vector.png) 0 100% no-repeat,
        url(../img/Vector2.png) 100% 0 no-repeat;

    height: 600px;
    overflow-x: hidden;
}

.overLocal {
    /* Style for "Overlocal" */
    color: #0e9aff !important;
    font-family: 'Heebo', sans-serif;
    font-size: 24px !important;
    font-weight: 700 !important;
}

ul li a {
    font-weight: 900;
    font-family: 'Heebo', sans-serif;
    margin: 10px 0 10px 0;
}

button {
    font-family: 'Heebo', sans-serif;
}

#joinUs {
    color: rgb(96, 151, 199);
    background-color: aliceblue;
}

#singIn {
    color: aliceblue;
}

.getyourstaff {
    /* Style for "Get your s" */
    /* width: 534px;
    height: 61px; */
    color: #0e9aff;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
}

.btnSearch {
    /* Style for "Rectangle" */
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #0e9aff;
    color: white;
}

.forInput {
    display: flex;
    justify-content: center;
}

#forty {
    margin-top: 50px;
    color: gray;
}

#whatIs {
    /* Style for "Rectangle" */
    background-color: #f3f4f5;
    padding: 100px 0;
}

.what {
    /* Style for "What is Ov" */
    color: #143f5f;
    font-size: 36px;
    font-weight: 700;
    text-align: center;

}

.whatin {
    /* Style for "Good draw" */
    color: #143f5f;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.13px;
}

#thirdBlock {
    padding: 100px 0;
    /* background-color: khaki; */
}

.containerForItem {
    /* Style for "Rectangle" */
    width: 190px;
    height: 291px;
    box-shadow: 0 10px 10px rgba(14, 154, 255, 0.05);
    border-radius: 10px;
    border: 1px solid #f3f4f5;
}

.imgContainer {
    /* Style for "Rectangle" */
    max-width: 190px;
    max-height: 150px;
    background-color: #c4c4c4;
    border-radius: 5%;
}

.pContainer {
    /* Style for "Marketplac" */
    width: 174px;
    height: 40px;
    color: #143f5f;
    font-size: 14px;
    font-weight: 600;
    margin: 5px 7px 5px 7px;
}

.pSContainer {
    /* Style for "Poberto Pe" */
    width: 174px;
    margin: 5px 7px 5px 7px;
    color: #143f5f;
    font-size: 12px;
    font-weight: 500;
}

.eyeContainer {
    /* Style for "7878" */
    width: 79px;
    color: #143f5f;
    font-size: 14px;
    font-weight: 600;
    margin: 5px 7px 5px 7px;
}

.dollar {
    /* Style for "$12.00" */
    width: 67px;
    color: #143f5f;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 7px 5px 7px;
}

hr {
    margin: 0 5px;
    padding: 0;
}

.rate {
    /* Style for "Vector" */
    font-size: 10px;
    height: 10px;
    color: rgba(20, 63, 95, 0.5);
}

.startsIn {
    display: flex;
}

.wQLatest {
    margin-bottom: 50px;
}

.spaceB {
    justify-content: space-around;
}

.buttonViewAllElements {
    /* Style for "View all p" */
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    width: 400px;
    height: 52px;
    border-radius: 10px;
    background-color: #0e9aff;
    border: 0;
    margin-top: 50px;
}

.starsForRate {
    color: #143f5f;
    font-size: 12px;
    font-weight: 500;
}

#fourthBlock {
    /* Style for "Rectangle" */
    background-color: #f3f4f5;
}

.wZLatest {
    margin-top: 50px;
}

.fourthP {
    /* Style for "Internatio" */
    color: #143f5f;
    font-size: 16px;
    font-weight: 600;
}

.fourthIMG {
    max-width: 175px;
    max-height: 175px;
    margin: 10px;
}

.fourthZ {
    margin: 15px;
}

.fourthFirst,
.fifthFirst {
    /* Style for "Why works" */

    color: #143f5f;
    font-size: 36px;
    font-weight: 700;
}

.fourthFirst p {
    padding-top: 50px;
}

.forImagesFourth {
    height: 220px;
}

.fifthFirst p {
    padding-top: 50px;
}

.styleForCategoriesFifthBlock {
    width: 190px;
    height: 68px;
    box-shadow: 0 10px 10px rgba(14, 154, 255, 0.05);
    border-radius: 10px;
    border: 1px solid #f3f4f5;
    background-color: #f6f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}